/* Variáveis do tema */
:root {
  --bg-color: #f3f4f6;
  --box-color: #fff;
  --text-color: #222;
  --border-color: #ccc;
  --input-bg: #fff;
  --primary-color: #2e86de;
}

body.dark {
  --bg-color: #1e1e1e;
  --box-color: #2a2a2a;
  --text-color: #f1f1f1;
  --border-color: #444;
  --input-bg: #333;
  --primary-color: #4a90e2;
}